In [ ]:
import pandas as pd

In [ ]:
data=pd.read_csv("EPL_set.csv")
print(data.head(10))

#### All the clubs that played in EPl between 1993 et 2018 ?

In [4]:
print("the number of teams that played in EPl between 1994 et 2018 est "+str(data['HomeTeam'].nunique())+"\n")
print(data['HomeTeam'].unique())

the number of teams that played in EPl between 1994 et 2018 est 50

['Arsenal' 'Aston Villa' 'Chelsea' 'Liverpool' 'Man City' 'Newcastle'
 'Oldham' 'Sheffield United' 'Southampton' 'West Ham' 'Norwich'
 'Tottenham' 'Everton' 'Ipswich' 'Leeds' 'Wimbledon' 'Blackburn'
 'Coventry' 'Man United' 'QPR' 'Sheffield Weds' 'Swindon' 'Crystal Palace'
 'Leicester' "Nott'm Forest" 'Bolton' 'Middlesbrough' 'Derby' 'Sunderland'
 'Barnsley' 'Charlton' 'Watford' 'Bradford' 'Fulham' 'Birmingham'
 'Middlesboro' 'West Brom' 'Portsmouth' 'Wolves' 'Wigan' 'Reading' 'Hull'
 'Stoke' 'Burnley' 'Blackpool' 'Swansea' 'Cardiff' 'Bournemouth'
 'Brighton' 'Huddersfield']

#### Number of goals scored in EPL between 1993 et 2018 and in every season ?

In [25]:
print("Number of goals scored in EPl all time is "+str(data.FTHG.sum()+data.FTAG.sum()))
data['goals scored']=data.FTHG+data.FTAG
print(data.groupby('Season')['goals scored'].sum())
data.drop(columns='goals scored',inplace=True)

Number of goals scored in EPl all time is 25565
Season
1993-94    1195
1994-95    1195
1995-96     988
1996-97     970
1997-98    1019
1998-99     959
1999-00    1060
2000-01     992
2001-02    1001
2002-03    1000
2003-04    1012
2004-05     975
2005-06     944
2006-07     931
2007-08    1002
2008-09     942
2009-10    1053
2010-11    1063
2011-12    1066
2012-13    1063
2013-14    1052
2014-15     975
2015-16    1026
2016-17    1064
2017-18    1018
Name: goals scored, dtype: int64

### The ranking table in every season ?

In [ ]:
def points(row):
    if row['FTHG'] == row['FTAG']:
        val = 1
    elif row['FTHG'] > row['FTAG']:
        val = 3
    else:
        val = 0
    return val
def A_points(row):
    if row['FTAG'] == row['FTHG']:
        val = 1
    elif row['FTAG'] > row['FTHG']:
        val = 3
    else:
        val = 0
    return val

data['home_points']=data.apply(points,axis=1)
data['away_points']=data.apply(A_points,axis=1)


def rank_table(season,data):
    home_table=data[data.Season==season].groupby('HomeTeam').home_points.sum().rename("H_points")
    away_table=data[data.Season==season].groupby('AwayTeam').away_points.sum().rename("A_points")
    home_table_goals=data[data.Season==season].groupby('HomeTeam').FTHG.sum().rename("H_goals_scored")
    away_table_goals=data[data.Season==season].groupby('AwayTeam').FTAG.sum().rename("A_goals_scored")
    home_table_goals_2=data[data.Season==season].groupby('HomeTeam').FTAG.sum().rename("H_goals_conceded")
    away_table_goals_2=data[data.Season==season].groupby('AwayTeam').FTHG.sum().rename("A_goals_conceded ")
    table=pd.concat([home_table,away_table,home_table_goals,away_table_goals,home_table_goals_2,away_table_goals_2],axis=1)
    table['GF']=table['H_goals_scored']+table['A_goals_scored']
    table['GA']=table['H_goals_conceded'] +table["A_goals_conceded "]
    table['GD']=table['GF']-table['GA']
    table['points']=table['H_points']+table['A_points']
    table.drop(columns=["H_goals_scored","A_goals_scored","H_goals_conceded","A_goals_conceded "],inplace=True)
    table = table.sort_values('points',ascending=False)
    return table
season=input("entrez la season :")
rank_table(season,data)

### Ranking Table between two years ?

In [100]:
begin=int(input("entrez l'anne de debut"))
end=int(input("entrez l'anne de fin"))
season=[str(x)+"-"+str(x%100+1) for x in range(begin,end)]
home_table=data[data.Season.isin(season)].groupby('HomeTeam').home_points.sum().rename("H_points")
away_table=data[data.Season.isin(season)].groupby('AwayTeam').away_points.sum().rename("A_points")
home_table_goals=data[data.Season.isin(season)].groupby('HomeTeam').FTHG.sum().rename("H_goals_scored")
away_table_goals=data[data.Season.isin(season)].groupby('AwayTeam').FTAG.sum().rename("A_goals_scored")
home_table_goals_2=data[data.Season.isin(season)].groupby('HomeTeam').FTAG.sum().rename("H_goals_conceded")
away_table_goals_2=data[data.Season.isin(season)].groupby('AwayTeam').FTHG.sum().rename("A_goals_conceded ")
table=pd.concat([home_table,away_table,home_table_goals,away_table_goals,home_table_goals_2,away_table_goals_2],axis=1)

table['GF']=table['H_goals_scored']+table['A_goals_scored']
table['GA']=table['H_goals_conceded'] +table["A_goals_conceded "]
table['GD']=table['GF']-table['GA']
table['points']=table['H_points']+table['A_points']
table.drop(columns=["H_goals_scored","A_goals_scored","H_goals_conceded","A_goals_conceded "],inplace=True)
table = table.sort_values('points',ascending=False)
table

entrez l'anne de debut1996
entrez l'anne de fin2018

                H_points  A_points   GF   GA   GD  points
Man United           525       399  865  420  445     924
Chelsea              504       371  848  461  387     875
Arsenal              508       365  845  460  385     873
Liverpool            454       324  814  518  296     778
Tottenham            446       330  731  532  199     776
Man City             408       306  734  323  411     714
Everton              395       240  617  580   37     635
West Ham             326       179  520  628 -108     505
Newcastle            299       180  479  548  -69     479
Aston Villa          256       201  428  542 -114     457
Southampton          258       174  431  459  -28     432
Stoke                262       150  360  470 -110     412
Leicester            210       152  355  355    0     362
Sunderland           214       140  363  509 -146     354
West Brom            198       144  343  445 -102     342
Swansea              190       122  306  383  -77     312
Blackburn            171        88  272  339  -67     259
Crystal Palace       126       127  251  339  -88     253
Fulham               144        78  226  285  -59     222
Leeds                101        71  147  118   29     172
Bolton               104        57  181  261  -80     161
Norwich              105        53  160  253  -93     158
Wigan                 88        69  166  275 -109     157
Burnley              104        53  145  229  -84     157
Derby                100        53  137  152  -15     153
Sheffield Weds        92        55  143  160  -17     147
Wimbledon             82        60  123  155  -32     142
Hull                  97        39  142  259 -117     136
Coventry              83        52  123  149  -26     135
Bournemouth           77        55  145  195  -50     132
Watford               79        47  124  182  -58     126
Middlesbrough         77        44  126  167  -41     121
Wolves                61        42  118  204  -86     103
QPR                   63        29  115  199  -84      92
Birmingham            59        30   75  105  -30      89
Nott'm Forest         34        30   66  128  -62      64
Brighton              29        11   34   54  -20      40
Blackpool             20        19   55   78  -23      39
Huddersfield          23        14   28   58  -30      37
Charlton              19        17   41   56  -15      36
Barnsley              25        10   37   82  -45      35
Cardiff               20        10   32   74  -42      30
Reading               20         8   43   73  -30      28
Portsmouth            18        10   34   66  -32      28

### Man utd points in each year ?

In [12]:
seasons=[str(x)+"-"+str(x%100+1) for x in range(1993,2017)]
home_table=data[(data.Season==season)&(data.HomeTeam=="Man United")].groupby('HomeTeam').home_points.sum().rename("H_points")
away_table=data[(data.Season==season) &(data.AwayTeam=="Man United") ].groupby('AwayTeam').away_points.sum().rename("A_points")

KeyError: 'Man United'